{% comment %} Static betöltése után, ezt a fájlt lehet includeolni és ez betölti azokat a stylesheeteket, amelyeket majdnem minden oldalon használunk. {% endcomment %}
<link rel="stylesheet" href="{% static 'css/general.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile2.css' %}">
<link rel="stylesheet" href="{% static 'css/colors.css' %}">