{% load static %}
{% load repofilterek %}
{% load auth_extras %}

<!DOCTYPE html>
<html lang="hu">
<head>
    <title>Házi feladatok</title>

    {% include "inner_head.html" %}

</head>
<body>
    {% include "header.html" %}

    <main class="mt-20 mb-10">
        <div class="hetek grid place-items-center">
            {% for heti_result_key, heti_result_value in hetiview_results.items %}
                {% if heti_result_value %}
                    <div class="collapse collapse-arrow bg-base-200 w-6/12 m-2">
                        <input type="radio" name="my-accordion-2" />
                        <div class="collapse-title text-xl font-medium">
                            {{ heti_result_key | week_relative }}
                        </div>
                        <div class="collapse-content">
                            {% for hf in heti_result_value %}
                                <a href="/hazioldal/hf/{{ hf.id }}/">
                                    <div class="card bg-base-100 hover:bg-base-300 transition ease-in-out duration-200 shadow-xl m-2 ">
                                        <div class="card-body">
                                            <h2 class="card-title text-primary">{{ hf.kituzes.feladat.nev }}
                                                {% if hf.allapot == "NINCS_BIRALAT" %} 
                                                <div class="badge badge-warning">
                                                    Mentornál
                                                </div> 
                                                {% elif hf.allapot == "MINDEN_BIRALAT_POZITIV"%}
                                                <div class="badge badge-success">
                                                    Kész
                                                </div> 
                                                {% elif hf.allapot == "VAN_NEGATIV_BIRALAT"%}
                                                <div class="badge badge-error">
                                                    Beavatkozás szükséges
                                                </div> 
                                                {% else %}
                                                <div class="badge badge-info">
                                                    Teendő
                                                </div> 
                                                {% endif %}

                                                {% if hf.hatarideje_lejart %}
                                                <div class="badge badge-error">
                                                    Lejárt
                                                </div>
                                                {% endif %}
                                            </h2>
                                            <h3>{{ hf.kituzes.feladat.temai.first.nev }}</h3>
                                            <p class="justify-content-end">Határidő: {{ hf.hatarido|day_relative }}</p>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>

    {% include "footer.html" %}
    
</body>
</html>
